<div class="panel panel-default">
  <% if message.finished != 1 %>
    <div class="panel-heading">
      <%= question.title %>
    </div>
    <div class="list-group">
      <%= link_to( question.a_1, messages_path(question_id: question.id, answer: 1, message_id: message.id), method: :post, class: 'list-group-item', remote: true) %>
      <%= link_to( question.a_2, messages_path(question_id: question.id, answer: 2, message_id: message.id), method: :post, class: 'list-group-item', remote: true) %>
      <%= link_to( question.a_3, messages_path(question_id: question.id, answer: 3, message_id: message.id), method: :post, class: 'list-group-item', remote: true) %>
      <%= link_to( question.a_4, messages_path(question_id: question.id, answer: 4, message_id: message.id), method: :post, class: 'list-group-item', remote: true) %>
    </div>
  <% else %>
    <div class="panel-body">
      <p>回答済みのクイズです</p>
    </div>
  <% end %>
</div>