<div id="admin">
  <h1>Questions</h1>

  <% @questions.each do |question| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= question.title %></div>

      <div class="panel-body">
        <div class="badge">
          <%= question.a_1 %>
        </div>
        <div class="badge">
          <%= question.a_2 %>
        </div>
        <div class="badge">
          <%= question.a_3 %>
        </div>
        <div class="badge">
          <%= question.a_4 %>
        </div>
        <% if logged_in? %>
          <%= link_to 'Edit', edit_question_path(question) %> |
          <%= link_to 'Destroy', question, method: :delete, data: { confirm: '消去してもよろしいですか？' } %>
        <% end %>
      </div>
    </div>
  <% end %>
  <br>

  <%= link_to 'New Question', new_question_path if logged_in? %>
</div>
